API_PORT=8000
WEB_PORT=3100
LOCAL_UID=1000
LOCAL_GID=1000
ADMIN_BOOTSTRAP_USERNAME=admin
ADMIN_BOOTSTRAP_PASSWORD=change-this-before-deploying
ADMIN_PANEL_PATH=control-tower
AUTH_COOKIE_SECURE=auto
TRUSTED_PROXIES=127.0.0.1,::1,172.16.0.0/12
