{
	admin off
}

{$CADDY_SITE_ADDRESS:localhost} {
	encode zstd gzip

	handle_path /backend/* {
		reverse_proxy api:8000 {
			flush_interval -1
			header_up X-Real-IP {remote_host}
		}
	}

	handle {
		reverse_proxy web:3000 {
			header_up X-Real-IP {remote_host}
		}
	}
}
